<!-- app/views/users/login.rhtml -->
<% if flash[:message] %><div><%= flash[:message] %></div><% end %>
<% if flash[:error] %><div><%= flash[:error] %></div><% end %>

<br />
<% form_for( @user, :url => { :controller => 'users', :action => 'process_login' } ) do |f| %>
    <%= f.label :username %>: <%= f.text_field :username %>
    <%= f.label :password %>: <%= f.password_field :password %>
    
    <p>
    <%= f.submit "Login" %>
    </p>
<% end %>