<!-- app/views/user/my_account.rhtml -->
<h1>Account Info</h1>
<br />
Admin: <%= session[:id] %>
<p>Your username is <%= User.find(session[:id]).user_name %></p>
<p>Your First name is <%= Person.find(session[:id]).first_name %></p>
<p>Your Last name is <%= Person.find(session[:id]).last_name %></p>