<hr />
<table>
	<tr id=ID1180>
		<td>2006-11-12<br />
		<b>4.divari sarjataulukko p채ivitetty 11.11.</b>
		</td>
	</tr>
	<tr>
		<td>
			<p>KooVee 2:lla ei ollut peli채 viikonloppuna, mutta lohkon monella muulla joukkueella oli.
			Sarjatilanne ja tulokset ovat j채lleen p채ivitetty 11.11.2006.</p>
		</td>
		<tr>
			<td>Jussi Innanen</td> 
		</tr>
		<tr>
			<td>Muokkaa</td>
		</tr>	
</table><hr />