<!-- app/views/admin/user/my_account.rhtml -->
<h1>Account Info</h1>
<br />
<p>
ID: <%= session[:id] %>
<p>Your username is <%= @user.username %></p>
<p>Your First name is <%= @person.first_name %></p>
<p>Your Last name is <%= @person.last_name %></p>
</p>
